# Packages for read the docs
# Using single requirments for docs, see:
# https://github.com/rtfd/readthedocs.org/issues/2070
geoalchemy2
keyring
loguru
matplotlib
nbsphinx
numpydoc
oedialect
pandas < 2.2
pyomo < 6.6
pypsa == 0.26.2
saio
scikit-learn
sphinx_rtd_theme > 1.2.2
shapely > 2
sqlalchemy
tilemapbase == 0.4.5
tsam
