# Packages for read the docs
# Using single requirments for docs, see:
# https://github.com/rtfd/readthedocs.org/issues/2070
sphinx_rtd_theme > 1.2.2
pypsa == 0.20.1
numpydoc
sqlalchemy
geoalchemy2
matplotlib
nbsphinx
saio
pyomo != 6.4.3