# use pip install -r requirements.txt to setup your virtualenv 
# for network clustering


# ego powerflow repo on branch dev:
-e git+https://github.com/openego/ego.powerflow.git@dev#egg=ego.powerflow

# ego.io release 0.2.0
egoio==0.2.0

# eGo PyPSA fork on network-clustering https://github.com/openego/PyPSA/tree/features/network-clustering
-e git+https://github.com/openego/PyPSA.git@dev#egg=PyPSA
