# use pip install -r requirements.txt to setup your virtualenv 

# ego.powerflow release 0.0.4
egopowerflow==0.0.4

# ego.io release 0.2.0
egoio==0.2.0


# PyPSA fork on featurs/clustering branch
-e git+https://github.com/openego/PyPSA.git@features/snapshot_clustering#egg=PyPSA
