# use pip install -r requirements.txt to setup your virtualenv 

# ego.powerflow release 0.0.5
-e git+https://github.com/openego/ego.powerflow.git@master#egg=ego.powerflow

# ego.io release 0.2.11
-e git+https://github.com/openego/ego.io.git@master#egg=ego.io

# eGo PyPSA fork on dev https://github.com/openego/PyPSA/tree/dev
-e git+https://github.com/openego/PyPSA.git@dev#egg=PyPSA
